{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>keyword</th>
                <th>Product Image</th>
                <th>Product Price</th>
                <th>Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.productTitle }}</td>
                <td>{{ product.productDescription }}</td>
                <td>{{ product.productKeyword }}</td>
                <td><img src= {{product.productImage}} alt="" class="card-img-center" width="50" height="50"></td>
                <td>{{ product.productPrice }}</td>
                <td>{{ product.date ? product.date|date('d-m-Y') : '' }}</td>
                <td>{{ product.status }}</td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">Detail</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">Update</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class ="height: 30px;width: 90px;"><a href="{{ path('app_product_new') }}">Create new</a></button>
{% endblock %}
